# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.tox/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Temporary files
*scratch*.py
scripts/merge_tags.py
scripts/missing_places.py
scripts/tags_*.json
scripts/test_*.geojson
scripts/test*.py
scripts/out*.geojson
.pypirc
.coverage
.vscode
.DS-Store
